HUGGINGFACE_API_TOKEN=""
VECTOR_DATABASE_LOCATION="rag_app/vectorstore"
EMBEDDING_MODEL="all-MiniLM-L6-v2"
MID_LLM_MODEL="mistralai/Mistral-Nemo-Instruct-2407"
S_LLM_MODEL="mistralai/Mistral-7B-Instruct-v0.2"
RERANKER_MODEL="BAAI/bge-reranker-base"